.filter{
    .brand-filter{
        .brand-filter-name{
            font-size: medium;
            font-weight: 500;
        }
        .form-check{
            .form-check-input :focus{
                outline: 0;
            }
        }
    }
}
